body {
   background-color: #1d1b24;
   scroll-behavior: smooth;
   overflow-x: hidden;
}

hr {
   color: #53f6c7;
   border-width: 3px;
   max-width: 55em;
   margin: auto;
   margin-bottom: 1.5em;
   padding: 1px;
   opacity: 1;
   overflow-x: hidden;
}

@media screen and (max-width: 1199px) {
   hr {
      max-width: 50em;
   }
}

@media screen and (max-width: 991px) {
   hr {
      border-color: #53f6c7;
      max-width: 30em;
   }
}

@media screen and (max-width: 800px) {
   hr {
      border-color: #53f6c7;
      border-width: 3px;
      max-width: 18em;
   }
}