.cards-container {
   overflow: hidden;
   margin-top: -1.8em;
   margin-bottom: -1.5em;
}

.card {
   width: 28rem;
   border: none;
   background-color: #1d1b24;
   color: #ffff;
   font-weight: 400;
   text-align: justify;
}

.add-margin {
   margin-bottom: 1.3em;
}

.remove-margin {
   margin-bottom: -1.5em;
}

@media screen and (max-width: 800px) {
   .card {
      width: 22rem;
      border: none;
      background-color: #1d1b24;
      color: #ffff;
      font-weight: 400;
      text-align: justify;
   }

   .mobile-add {
      margin-bottom: 2.2em;
   }
   
   .mobile-remove {
      margin-bottom: -0.5em;
   }

   .protocols {
      margin-bottom: 3.4em;
   }
}