.cards-container {
   overflow-x: hidden;
}

.card {
   width: 28rem;
   border: none;
   background-color: #1d1b24;
   color: #ffff;
   font-weight: 400;
   text-align: justify;
}

.recog {
   margin-bottom: -2.3em;
}


@media screen and (max-width: 800px) {
   .card {
      width: 22rem;
      border: none;
      background-color: #1d1b24;
      color: #ffff;
      font-weight: 400;
      text-align: justify;
   }

   .recog {
      padding-top: 3.5em !important;
   }
}