#desc {
   margin-top: 10em;
   margin-bottom: 6em;
}

#intro {
   font-size: 1.6em;
   font-weight: 500;
}

#name {
   color: #53f6c7;
}

#text {
   font-size: 1.45em;
}

@media screen and (max-width: 776px) {
   #desc {
      margin-top: 9em;
      margin-bottom: 7em;
   }
   
   #intro {
      display: block;
   }
}