.desc {
   margin-top: 10em;
   margin-bottom: 6em;
}

.card-deck {
   width: 46em;
   height: 16em;
   margin-left: 1em;
   display: flex;
}

.card-container {
   display: flex;
   justify-content: center;
}

.mobile {
   display: none;
}

.intro {
   font-size: 1.6em;
   font-weight: 500;
}

.name {
   color: #53f6c7;
}

.text {
   font-size: 1.45em;
}

@media screen and (max-width: 800px) {
   .desc {
      margin-top: 5em;
      margin-bottom: 3.8em;
   }
   
   .intro {
      display: block;
   }

   .desktop {
      display: none;
   }

   .mobile {
      display: flex;
      justify-content: center;
   }

   .mobile-skills {
      justify-content: center;
      width: 13.5em;
      color: #ffff;
      padding-bottom: 2.5em;
   }

   .mobile-titles {
      display: block;
      color: #53f6c7;
   }
}