#footer-body {
   margin-right: 29.2em;
   height: 12em;
   overflow-x: hidden;
}

#footer-text {
   width: 28rem;
   border: none;
   background-color: #1d1b24;
   color: #ffff;
   font-weight: 400;
}

ul {
   list-style-type: none;
   padding: 0;
}

a {
   text-decoration: none !important;
   color: #ffff;
}

a:hover {
   color: #d8d5d5;
}

@media screen and (max-width: 991px) {
   #footer-body {
      padding-right: 1em;
      margin: 0;
   }
}